body{
    margin: 0;
}
*{
    box-sizing: border-box;
}

/* ***************************************8 */
.menu_container{
    background-color: lightblue;
    height: 80px;
    display: flex;
    align-items: center;
}
            /* all cildren of menu container */
.menu_container>*{
    height: 80%;
    width: 20%;
    border-right: 2px solid black;
}
.alignment_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alignment_container>*{
    width: 20%;
}
.formating_container{
    display: flex;
    justify-content: space-around;
}
.subgroup{ 
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subgroup>*{
    width: 100%;
}
.BUI_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.BUI_container>*{
    width: 30%;

}
.color_container{
    display: flex;
    justify-content: space-between;
}
.color_container>*{
    width: 45%;
}

/* ******************************* */





/* ``````````````````````Formulla container````````````````````````` */
.formulla_container{
    background-color: rgb(178, 186, 192);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.address_box{
    width: 10%;;
}
.formulla_box{
    width: 78%;
}












.sheets{
    background-color: lightgrey;
    display: flex;
    height: 40px;
    overflow: auto;
}
.add_sheet_container{
    height: 100%;
    min-width: 35px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 1.4rem;
    color: lightgreen;
}
.sheets_list{
    display: flex;
    height: 100%;
    overflow-x: auto;
}
              /* ---Hide the scroll bar--- */
.sheets_list::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .sheets_list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
}
.active_sheet{
    background-color: white;
}





/* --------Grid container CSS ---------`````````````````````-*/
.top_left_block{
    height: 30px;
    width: 25px;
    background-color: gray;
}
.top_row{
    height: 30px;
    background-color: lightgreen;
    display: flex;
    position: absolute;
    top: 0px;
    left: 25px;
    
}
.col{
    /* flex: 1; */
    /* that means minimum to 70px rahege hi */
    min-width: 85px;
    max-width: 85px;
    border: 1px solid;
    min-height: 30px;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
}
.left_col{
    width: 25px;
}
.left_col_box{
    height: 30px;
    background-color: lightgreen;
    text-align: center;
    border: 1px solid;
}
.row{
    display: flex;
}
.grid{
    position: absolute;
    top: 30px;
    left: 25px;
}

.grid_container{
    /* now absolute wala parent ke hisab se align ho jaega */
    position: relative;
    overflow: auto;
    height:calc(100vh - ( 80px + 30px + 40px ) ) ;
}
/* ````````````````````````````````````````` */





